*{
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif;
}


.heading{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 80px;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50% , -50%);
}

.container{
    position: absolute;
    text-align: center;
    font-size: 30px;
    height: 150px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.color{
    padding-top: 25px;
}

.btn{
    height: 50px;
    width: 110px;
    border: 0;
    border-radius: 40px;
    outline: none;
    margin-top: 20px;
    color: white;
    font-size: 17px;
    background-color: dodgerblue;
}

@media only screen and (max-width: 425px) {
    .heading{
        height: 60px;
        width: 300px;
        font-size: 30px;
    }
  }